<dl class="dl-horizontal">
	<dt>How to play?</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ducimus, suscipit, obcaecati, ipsam rem sequi quidem repudiandae explicabo autem eum iusto architecto blanditiis quos nesciunt modi! Dolores placeat temporibus blanditiis.</dd>
	<hr>
	<dt>How do I gain respect?</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, unde, dicta, eaque eum velit et esse minima fugiat itaque id modi consectetur inventore tenetur nesciunt iure. Dicta odit possimus cum?</dd>
	<hr>
	<dt>How do I train my skills?</dt>
	<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, modi, earum repellat voluptatum a quo omnis sed ut velit delectus assumenda illo nulla error animi veritatis asperiores eveniet nam totam.</dd>
</dl>